#one {
    background-color: #000000;
}

#two {
    background-color: #0000ff;
}

#three {
    background-color: #00ffff;
}

#four {
    background-color: #ffffff;
}

#five {
    background-color: #ffff00;
}

#six {
    background-color: #ff0000;
}

#seven {
    background-color: #00ff00;
}

#eight {
    background-color: #ff00ff;
}