#one {
    color: lime;
}

#two {
    color: aqua;
}

#three {
    color: teal;
}

#four {
    color: olive;
}

#five {
    color: maroon;
}

#six {
    color: silver;
}

#seven {
    color: purple;
}

#eight {
    color: fuchsia;
}