#one {
    color: aquamarine;
}

#two {
    color: beige;
}

#three {
    color: blanchedalmond;
}

#four {
    color: burlywood;
}

#five {
    color: chocolate;
}

#six {
    color: cyan;
}

#seven {
    color: darkblue;
}

#eight {
    color: darkkhaki;
}

#nine {
    color: darkorange;
}

#ten {
    color: deeppink;
}

#eleven {
    color: dimgray;
}

#twelve {
    color: dodgerblue;
}

#thirteen {
    color: firebrick;
}

#fourteen {
    color: hotpink;
}

#fifthteen {
    color: lightsalmon;
}

#sixteen {
    color: linen;
}